$text: #e4e4e4;
$background1: linear-gradient(102deg, #2c2c2c 1.56%, #1c1c1c 95.55%);
$accent: #00c1ec;
$gray: linear-gradient(131deg, #414141 0%, #2D2D2D 100.52%);
$gray2:linear-gradient(131deg, #414141 0%, #2D2D2D 100.52%);
$blue:  #2183DD;
$green: #009900;
$white: #FFFFFF;