@import "./colors.scss";

//ScrolBar

::-webkit-scrollbar {
	width: 10px;
}

::-webkit-scrollbar-track {
	background: inherit;
}

::-webkit-scrollbar-thumb {
	background-color: $accent;
	border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
	box-shadow: 0px 0px 150px 50px $accent;
}


body {
	width: 100%;
	font-family: "onest";
	font-size: 20px;
	color: $text;
	background: $background1 no-repeat;
	margin: 0 auto;
	overflow-x: hidden;
	scroll-behavior: smooth;
}

.header_content {
	display: flex;
	width: 70%;
	justify-content: space-between;
	align-items: center;
	margin: 0 auto;

	.logo {
		h1 a {
			color: $accent;
			font-family: "Next Art";
			text-transform: uppercase;
			text-wrap: nowrap;
		}
	}

	@keyframes rotateAnimation {
		0% {
			transform: rotate(0deg);
		}

		10% {
			transform: rotate(0deg);
		}

		45% {
			transform: rotate(0deg);
		}

		55% {
			transform: rotate(180deg);
		}

		90% {
			transform: rotate(180deg);
		}

		100% {
			transform: rotate(360deg);
		}
	}

	.rotateSymbol {
		display: inline-block;
		animation: rotateAnimation 6s linear infinite;
	}

	.nav {
		ul {
			display: flex;
			gap: 5rem;

			li {
				a {
					font-size: 1.1rem;
					color: $text;
					white-space: nowrap;
				}

				a:hover {
					text-decoration: 3px underline $accent ;
					transition: .3s ease;
				}
			}
		}
	}

	.icon-sidebar:hover {
		img {
			transition: transform 0.2s ease-in-out;
			margin: 0;
		}

		img:active {
			transform: scale(0.9);
			transition: transform 0.1s ease-in-out;
		}
	}

	.sidebar {
		display: none;
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		background-color: #f2f2f2;
		transition: right 0.5s ease;
		background: $background1 no-repeat;
		padding: 50px;
		transition: right 0.5s ease;
		z-index: 2;

		span:active {
			transform: rotate(100deg);
			transition: 0.1s ease;
			color: $accent;
		}

		span {
			cursor: pointer;
		}

		form {
			display: flex;
			flex-direction: column;

			input,
			textarea {
				display: block;
				padding: 10px;
				border-radius: 10px;
				background: $gray;
				border: 0;
				margin-bottom: 20px;
				width: 250px;
			}

			label {
				color: $accent;
			}

			.btn-sider {
				padding: 10px 20px;
				font-weight: 700;
				width: 200px;
				height: 50px;
				font-size: 1.3rem;
				color: #000;
				cursor: pointer;
				margin: 0 auto;
				background: orange;
				text-transform: uppercase;
			}

			.btn-sider:hover {
				background: $accent;
				color: #fff;
				transition: 0.3s ease;
			}
		}
	}
}

//Greting

.greting_content {
	display: flex;
	width: 70%;
	margin: auto;
	gap: 100px;
}

.greting_prevew {
	position: relative;
	display: flex;

	#skill {
		width: 550px;
		position: absolute;
	}

	#neon {
		width: 550px;
		position: absolute;
	}
}

.animated-letter,
.animated-heading,
.animated-paragraph,
.animated-button {
	opacity: 0;
	transform: translateY(20px);
	animation: fadeInUp 0.8s forwards;
}

@keyframes fadeInUp {
	to {
		opacity: 1;
		transform: translateY(0);
	}
}

.greting_title {
	width: 50%;
	margin-top: 100px;

	span {
		text-transform: uppercase;
		color: #fff;
		font-size: 2rem;
	}

	h2 {
		text-transform: uppercase;
		color: #fff;
		font-size: 2.5rem;
	}

	button {
		background-color: orange;
		border: 0;
		border-radius: 10px;
		padding: 15px 25px;
		margin-bottom: 150px;

		a {
			text-transform: uppercase;
			color: #000;
			font-weight: 700;
			margin: 0;
			padding: 0;
		}

		a:hover {
			color: #fff;
			transition: 0.3s ease;
		}
	}
}

//Article Skills

.skills {
	width: 100%;
	background: $gray;
	padding: 100px 0;
	display: flex;
	justify-content: center;

	&_content {
		width: 60%;
		margin: 0 auto;
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 20px;

		.skills_list {
			display: flex;
			gap: 20px;
		}

		.skills_item {
			width: 200px;
			height: 200px;
			border-radius: 29px;
			background: #2A2A2A;
			box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.47);
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			gap: 10px;
			opacity: 0;
			transform: translateY(20px);
			transition: opacity 0.5s ease, transform 0.5s ease;

			span {
				color: $text;
				font-size: 1.5rem;
				text-transform: uppercase;
			}
		}

		.skills_item:hover {
			box-shadow: 0px 4px 6px 0px $accent;
		}
	}
}

//About

.about {
	width: 100%;
	display: flex;
	padding: 100px 0;
	justify-content: center;

	&_container {
		position: relative;
		width: 80%;
		display: flex;
		flex-direction: column;
		gap: 2rem;

		h1 {
			text-align: center;
			font-size: 3.5rem;
			margin: 0;
		}


	}

	.item_container {
		width: 80%;
		display: flex;
		flex-wrap: wrap;
		gap: 20px;
		justify-content: center;
		transition: all 0.5s ease-in-out;
	}

	.item {
		width: 300px;
		display: flex;
		align-items: center;

		border-radius: 10px;
		box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.47);
		padding: 20px;
		gap: 10px;

		background: $gray;
		opacity: 0;
		transform: translateX(100%);
		transition: opacity 1s, transform 1s;
	}

	.item:hover {
		box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.47);
		transition: .3s ease;
	}

	.about_items {
		display: flex;
		justify-content: center;

		#yellow {
			position: absolute;
			z-index: -1;
			top: -120px;
			right: -150px;
		}

		#blue {
			width: 40%;
			position: absolute;
			z-index: -1;
			top: 200px;
			right: 500px;
		}

		#white {
			width: 40%;
			position: absolute;
			z-index: -1;
			top: -120px;
			left: -150px;
		}
	}

	.about_title {
		display: flex;
		box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.47);
		border-radius: 30px;
		background: $gray;
		transform: translateX(-100px);
		transition: opacity 1s, transform 1s;

		img {
			border-radius: 30px;
			display: flex;
			width: 100%;
			position: relative;
		}
	}
}

//Portfolio
.portfolio {
	width: 100%;
	padding: 100px 0;
	background: $gray;
	overflow: hidden;

	&_container {
		width: 70%;
		margin: 0 auto;
		display: flexbox;
	}

	&_item {
		border-radius: 30px;
		padding: 40px;
		box-shadow: 0px 0px 5px 0px rgb(0, 0, 0);
		display: flex;
		margin-bottom: 20px;
		width: 100%;
		justify-content: space-between;
		gap: 30px;
		align-items: center;
		background: $background1;
		text-align: center;

		.item_img {
			img {
				width: 500px;
				border-radius: 30px;
			}
		}
	}

	.item_title {
		h1 {
			margin: 0;
		}

		button {
			background-color: orange;
			border: 0;
			border-radius: 10px;
			padding: 15px 25px;

			a {
				text-transform: uppercase;
				color: #000;
				font-weight: 700;
				margin: 0;
				padding: 0;
			}

			a:hover {
				color: #fff;
				transition: 0.3s ease;
			}
		}
	}
}

//Footer

.footer {

	&_container {
		background: $background1;
		padding-top: 50px;

		.logo {
			h1 {
				color: $accent;
			}
		}

		.section_nav {
			display: flex;
			justify-content: space-around;

			.contact {
				display: flex;
				flex-direction: column;

				span {
					color: $accent;
					font-size: 2rem;
					margin-bottom: 20px;
					font-weight: 700;
				}

				a {
					color: $text;
					font-weight: 700;
					margin-bottom: 20px;
					text-decoration: underline $accent;
				}
			}
		}
	}
}

.footer:hover {
	box-shadow: 0px 0px 0px 0px rgb(0, 0, 0);
	transition: .5s;
}

.logo {
	display: flex;
	flex-direction: column;

	form {
		display: flex;
		flex-direction: column;

		input,
		textarea {
			padding: 10px;
			border-radius: 10px;
			background: $gray;
			border: 0;
			margin-bottom: 20px;
		}

		button {
			background: orange;
			border: 0;
			border-radius: 10px;
			padding: 10px;
			text-transform: uppercase;
			font-weight: 700;
			cursor: pointer;

			&:hover {
				color: #fff;
				transition: 0.3s ease;
			}
		}
	}
}

.contact {
	padding: 30px 0;

	.button_scroll {
		background: $accent;
		border: 0;
		border-radius: 30px;
		width: 50px;
		height: 50px;
		color: #fff;
		font-weight: 700;
		font-size: 2.5rem;
		cursor: pointer;
	}

	.button_scroll:hover {
		background: inherit;
		transition: .3s;
	}
}

.section_link {
	display: flex;
	justify-content: space-around;
	padding: 50px 0 20px;
	align-items: center;

	a {
		color: $text;
		font-weight: 700;
		text-decoration: underline $accent;
		z-index: 2;
	}

	a:hover {
		color: $accent;
		transition: .3s;
	}
}

.section_link div {
	display: flex;
	align-items: center;
	gap: 10px;
}